<center>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/aws/iot-atlas/archive/main.zip" data-icon="octicon-cloud-download" aria-label="Download aws/iot-atlas on GitHub">Download</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/aws/iot-atlas" data-icon="octicon-star" data-show-count="false" aria-label="Star aws/iot-atlas on GitHub">Star</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/aws/iot-atlas/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork aws/iot-atlas on GitHub">Fork</a>
</center>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<div style="font-size: xx-small; padding: 4em 0em 0em 4em;">
  Site built: {{ now.UTC.Format "2006-01-02 T15:04:05 UTC" }}
</div>
