name: validate

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  pull_request_validate:
    runs-on: ubuntu-latest
    env:
      working-directory: ./src
    name: Hugo content processing
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build Hugo container image
        uses: docker/build-push-action@v2
        with:
          context: ./src
          file: ./src/Dockerfile-build
          # Do not push to remote registry
          push: false
          # Load as a local image
          load: true
          tags: temporary/hugo-ubuntu:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache to keep size low
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
      - name: Validate Hugo content, internal, and external web links
        run: ./make_hugo.sh -v
        working-directory: ${{env.working-directory}}
      - name: Content has successfully PASSED validation
        if: ${{ success() }}
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'All content has passed validation tests and can be merged based upon reviewer approval.'
            })
      - name: Content has FAILED validation
        if: ${{ failure() }}
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Content validation has failed. Review the details of the specific check failure. Before updating the pull request, please perform local validation. All validation check must be successfully resolved before your pull request can be reviewed for approval.'
            })
